{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
{% endblock %}

{% block contenu %}
    <h1>Graphiques</h1>
    <div id="chart_container_top_produits" class="chart_container"></div>
    <!-- <form id="btn_ventes_produits" method="GET">
        <button type="submit">Top 3 des produits vendus</button>
    </form> -->
    <!-- <form id="btn_ventes_pays" method="GET">
        <button type="submit">Top 3 des pays de livraison</button>
    </form> -->
    <!-- <form id="btn_ventes_pays_produits" method="GET">
        <span>Top 3 des produits les plus vendus en/au </span>
        <select name="pays" id="select_pays"></select>
        <button type="submit">GET</button>
    </form> -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
