{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <title>POC</title>
    </head>
    <body>
        {% block navbar %}
            <nav>
                <a href="{% url 'etl' %}">Import</a>
                <a href="{% url 'chart' %}">Graphiques</a>
                <a href="{% url 'logout' %}">Déconnexion</a>
            </nav>
        {% endblock %}
        
        {% block contenu %}
        {% endblock %}
    </body>
</html>
