{% extends 'base.html' %}

{% load static %}

{% block contenu %}
    <h1>Import</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.fichier }}
        <button id="btn_import_csv" type="submit">Importer</button>
    </form>

    <div id="loading_message"></div>
    {% if import_bdd %}
        <button id="btn_import_bdd">Importer en base de données</button>
    {% endif %}

    <b>Nombre total enregistrements :</b> {{ feedback.nombre_enregistrements }}

    {% for etape in feedback.etapes %}
        <h2>Etape {{ forloop.counter }} :</h2>

        {% for element in etape %}
            <p>
                {% if element != "details" %}
                    <b>{{ element }} :</b> {{ etape | get_key:element }}
                {% else %}
                    <b>{{ element }} :</b>
                    <ul>
                        {% for detail in etape.details %}
                            <li>
                                <b>{{ detail.stock_code }}</b>
                                <p>
                                    {% for elements_detail in detail %}
                                        {% if elements_detail != "stock_code" %}
                                            <p>
                                                <b>{{ elements_detail }} :</b> {{ detail | get_key:elements_detail }}
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %}
    {% endfor %}

    <b>Nombre d'enregistrements restants :</b> {{ feedback.nombre_enregistrements_restants }}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/etl.js' %}"></script>
{% endblock %}
